* {
    box-sizing: border-box;
}

/* avatar */

.flex-container {
    position: relative;
    width: 80px;
    height: 240px;
    background: #F5EDFF;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 15px;
    border: 1px dashed #9747FF;
}

.flex-container :hover {
    background: lightblue;
}

.flex-circle1 {
    position: absolute;
    height: 48px;
    width: 48px;
    border-radius: 24px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-circle1 :hover {
    color: pink;
}

.flex-AA {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.flex-circle2 {
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: #777777;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0%;
    bottom: 0%;
}

.flex-circle2 :hover {
    color: orange;
}

.one {
    position: absolute;
    width: 7px;
    height: 13px;
    font-family: 'Inter', sans-serif;;
    font-size: 13px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 100%;
}

.flex-circle3 {
    position: absolute;
    height: 48px;
    width: 48px;
    top: 95px;
    display: flex;
    background: url(base.media.png);
    border-radius: 24px;
}

.flex-circle3 :hover {
    color: pink;
}

.flex-circle5 {
    position: absolute;
    height: 48px;
    width: 48px;
    top: 175px;
    border-radius: 24px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-star1 {
    position: absolute;
}

.flex-circle5 :hover {
    color: pink;
}

.flex-circle4 {
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: #777777;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0%;
    bottom: 0%;
}

.flex-circle4 :hover {
    color: orange;
}

.flex-circle6 {
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: #777777;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0%;
    bottom: 0%;
}

.flex-circle6 :hover {
    color: orange;
}


/* badge */

.oval-container {
    position: relative;
    height: 48px;
    width: 80px;
    background: #F5EDFF;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 11px;
    border: 1px dashed #9747FF;
}

.oval-container :hover {
    background: lightblue;
}

.oval {
    position: absolute;
    width: 36px;
    height: 24px;
    background: #000000;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.oval :hover {
    background: pink;
}

.OO {
    position: absolute;
    font-family: 'Inter', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
}

/* breadcrumb */

.box-container {
    position: relative;
    height: 112px;
    width: 332px;
    padding: 15px;    
    background: #F5EDFF;
    border: 1px dashed #9747FF;
    display: flex;
}

.box-container :hover {
    background: lightblue;
}

.box-container1 {
    position: absolute;
    width: 300px;
    height: 24px;
    top: 15px;
}

.box-container1 :hover {
    background: pink;
}

.star-label {
    position: absolute;
    height: 24px;
    width: 68px;
    display: flex;
    align-items: center;
}

.star-label :hover {
    background-color: orange;
}

.star-arrow {
    position: absolute;
    width: 32px;
    height: 24px;
    left: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star-arrow :hover {
    background-color: orange;
}

.label {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
    display: flex;
    align-items: center;
    right: 0%;
}

.arrow {
    position: absolute;
    width: 16px;
    height: 16px;
    display: flex;
}

.star-label2 {
    position: absolute;
    height: 24px;
    width: 68px;
    left: 116px;
    display: flex;
    align-items: center;
}

.star-label2 :hover {
    background-color: orange;
}

.label2 {
    position: absolute;
    right: 0%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
    display: flex;
    align-items: center;
}

.star-arrow2 {
    position: absolute;
    width: 32px;
    height: 24px;
    left: 192px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star-arrow2 :hover {
    background-color: orange;
}

.star-label3 {
    position: absolute;
    height: 24px;
    width: 68px;
    left: 232px;
    display: flex;
    align-items: center;
}

.star-label3 :hover {
    background-color: orange;
}

.label3 {
    position: absolute;
    height: 16px;
    width: 36px;
    right: 0%;
    top: 4px;
    font-family: 'Inter', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
}

.box-container2 {
    position: absolute;
    width: 264px;
    height: 24px;
    left: 16px;
    top: 71px;
}

.box-container2 :hover {
    background: pink;
}

.star-label4 {
    position: absolute;
    height: 24px;
    width: 68px;
    display: flex;
    align-items: center;
}

.star-label4 :hover {
    background-color: orange;
}

.label4 {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
    display: flex;
    align-items: center;
    right: 0%;
}

.star-arrow3 {
    position: absolute;
    width: 32px;
    height: 24px;
    left: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star-arrow3 :hover {
    background-color: orange;
}

.dots {
    position: absolute;
    width: 32px;
    height: 24px;
    left: 116px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dots :hover {
    background-color: orange;
}

.star-arrow4 {
    position: absolute;
    width: 32px;
    height: 24px;
    left: 156px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star-arrow4 :hover {
    background-color: orange;
}

.star-label5 {
    position: absolute;
    height: 24px;
    width: 68px;
    left: 196px;
    display: flex;
    align-items: center;
}

.star-label5 :hover {
    background-color: orange;
}

.label5 {
    position: absolute;
    height: 16px;
    width: 36px;
    right: 0%;
    top: 4px;
    font-family: 'Inter', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
}


/* button */

.button-container {
    width: 148px;
    height: 48px;
    background: #F5EDFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #9747FF;
}

.button-container :hover {
    background-color: lightblue;
}

.button {
    position: relative;
    width: 116px;
    height: 40px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button :hover {
    background-color: pink;
}

.pluslabelarrow {
    position: absolute;
    width: 84px;
    height: 16px;
}

.plus {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 0%;
}

.labelbutton {
    position: absolute;
    height: 16px;
    width: 36px;
    left: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
}

.newarrow {
    position: absolute;
    height: 16px;
    width: 16px;
    right: 0%;
}

/* chip */

.chip-container {
    width: 148px;
    height: 48px;
    background-color: #F5EDFF;
    border: 1px dashed #9747FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chip-container :hover {
    background-color: lightblue;
}

.chip {
    position: relative;
    height: 36px;
    width: 116px;
    border-radius: 20px;
    padding: 0px 6px 0px 6px;
    background: #000000;
    display: flex;
    align-items: center;
}

.chip :hover {
    background-color: pink;
}

.circle1 {
    position: absolute;
    height: 28px;
    width: 28px;
    top: 4px;
    background: #777777;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle1 :hover {
    background-color: orange;
}

.AA2 {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #FFFFFF;
}

.labelchip {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    left: 41.0995px;
    top: 10px;
}

.square2 {
    position: absolute;
    height: 28px;
    width: 28px;
    left: 82px;
    top: 4px;
    background: #777777;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square2 :hover {
    color: red;
}

.closebtn {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #FFFFFF;
}

/* divider */

.divider-container {
    width: 315px;
    height: 44px;
    background: #F5EDFF;
    border: 1px dashed #9747FF;
    padding-left: 16px;
    padding-top: 16px;
}

.divider-container :hover {
    background-color: lightblue;
}

.divider {
    position: relative;
    width: 283px;
    height: 12px;
    display: flex;
    align-items: center;
}

.divider :hover {
    background-color: pink;
}

.line1 {
    position: absolute;
    width: 120px;
    border: 1px solid #CCCCCC;
}

.line2 {
    position: absolute;
    width: 120px;
    left: 163px;
    border: 1px solid #CCCCCC;
}

.labeldivider {
    position: absolute;
    left: 128px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
}

/* input */

.input-container {
    width: 352px;
    height: 98px;
    background: #F5EDFF;
    border: 1px dashed #9747FF;
    padding: 15px 15px;
    display: flex;
    align-items: center;
}

.input-container :hover {
    background-color: lightblue;
}

.input {
    position: relative;
    height: 66px;
    width: 320px;
    display: flex;
}

.labelinput {
    position: absolute;
    top: 4px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
}

.content {
    position: absolute;
    top: 28px;
    width: 320px;
    height: 38px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 7px 16px;
}

.orange :hover {
    background-color: pink;
}

/* checkbox */

.checkbox-cointainer {
    width: 118px;
    height: 68px;
    background: #F5EDFF;
    border: 1px dashed #9747FF;
    padding: 15px 15px;
}

.checkbox-cointainer :hover {
    background-color: lightblue;
}

.checklabel {
    position: relative;
    width: 86px;
    height: 36px;
}

.checklabel :hover {
    background-color: pink;
}

.checkbox {
    position: absolute;
    width: 18px;
    height: 18px;
    margin: 0px 0px;
    border: 2px solid #000000;
}

.labelcheckbox {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
    margin-left: 28px;
}

.secondary {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #777777;
    margin-left: 28px;
    bottom: 0px;
}

/* link */

.link-container {
    width: 118px;
    height: 48px;
    background: #F5EDFF;
    border: 1px dashed #9747FF;
    padding: 15px 15px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-container :hover {
    background-color: lightblue;
}

.linkcontainer {
    position: relative;
    width: 46px;
    height: 16px;
    display: flex;
    align-items: center;
}

.linkcontainer :hover {
    background-color: pink;
}

.link {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
}

.linkarrow {
    position: absolute;
    right: 2.67px;
}

/* pagination */

.pagination-container {
    width: 64px;
    height: 64px;
    background: #F5EDFF;
    border: 1px dashed #9747FF;
    padding: 15px 15px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-container :hover {
    background-color: grey;
}

.pagination-button {
    position: relative;
    width: 32px;
    height: 32px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-1 {
    position: absolute;
    font-family: 'Inter', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #FFFFFF;
}

/* radio */

.radio-container {
    width: 118px;
    height: 68px;
    background: #F5EDFF;
    border: 1px dashed #9747FF;
    padding: 15px 15px 15px 15px;
    display: flex;
    align-items: center;
}

.radio-container :hover {
    background-color: lightblue;
}

.radiocontainer {
    position: relative;
    width: 86px;
    height: 36px;
}

.radiocontainer :hover {
    color: pink;
}

.radio-button {
    position: absolute;
    width: 18px;
    height: 18px;
    margin: 0px 0px;
}

.labelradio {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
    margin-left: 26px;
}

.secondaryradio {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #777777;
    margin-left: 26px;
    bottom: 0px;
}







